@import '../../../styles/colors.scss';

.list-creator-item {
  background-color: $color_basic_1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  color: $color_white_1;
  border-radius: 4px;

  &_disabled {
    background-color: $color_basic_3;
    border: 1px solid $color_basic_3;
    color: $color_white_1;
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    margin-left: 16px;
  }
}