@import '../../styles/colors.scss';

.list {
  list-style-position: inside;

  > :not(:last-child) {
    margin-bottom: 8px;
  }

  &__item {
    color: $color_basic_1;
  }

  .list-item__text {
    color: $color_black_2;
  }
}