@import '../../styles/colors.scss';

.checkbox {
  display: block;
  cursor: pointer;

  &__input {
    position: absolute;
    --webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__label {
    cursor: pointer;
  }

  &__select {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    background-color: $color_white_1;
    border: 2px solid $color_basic_1;
    width: 16px;
    height: 16px;
    border-radius: 4px;

    &_disabled {
      border: 2px solid $color_basic_2;
    }
  }
  &__label {
    margin-left: 24px;
  }

  &__input:checked + &__select{
    background-color: $color_basic_1;
  }

  &__input:checked + &__select_disabled{
    background-color: $color_basic_2;
  }
}