@import '../../styles/colors.scss';
@import '../../styles/templates.scss';

.recruiter-card {
  display: flex;
  padding: 24px 16px 16px;
  position: relative;
  
  &_active {
    @extend %active-card;
  }

  .recruiter-card-info {
    > :not(:last-child) {
      margin-bottom: 8px;
    }
  }
}