@import '../../styles/colors.scss';
@import '../../styles/templates.scss';

.modal-form {
  &__header {
    border-bottom: 1px solid $color_gray_1;
    color: $color_basic_1;
    padding: 24px;
    background-color: $color_white_1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    overflow-y: auto;
    @extend %scroll-bar;
    height: 400px;

    > :not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__buttons {
    border-top: 1px solid $color_gray_1;
    padding: 24px;
    background-color: $color_white_1;
    
    > :not(:last-child) {
      margin-right: 16px;
    }
  }

  .modal-header {
    &__close-button {
      cursor: pointer;
      background-color: transparent;
    }
  }
}