@import '../../styles/constants.scss';
@import '../../styles/templates.scss';

#my-jobs-page {
  height: 100%;
  display: flex;

  > :first-child {
    flex: 1.5;
  }

  > :last-child {
    width: 100%;
    flex: 1;
  }

  .my-jobs-content {
    display: flex;
    flex-direction: column;

    &__results {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      @extend %scroll-bar;
      margin-top: 16px;
      
      > :first-child {
        margin: 8px 0;
      }
    }
  
    &__search {
      width: 100%;
      display: flex;

      > :first-child {
        flex: 1;
        padding-bottom: 0;
        
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
  }

  > :not(:last-child) {
    margin-right: 24px;
  }
}