@import './constants.scss';
@import './colors.scss';
@import './templates.scss';

.app {
  display: flex;
  width: 100%;

  .container {
    flex: 1;

    .main {
      @extend %content-padding;
      @extend %scroll-bar;
      background-color: $color_white_2;
      overflow-y: auto;
      height: calc(100vh - $header_height);

      &.sign-up {
        height: 100vh;
        @extend %flex-center;
      }

      &.sign-in {
        height: 100vh;
        @extend %flex-center;
      }
    }
  }
}