@import '../../styles/colors.scss';
@import '../../styles/templates.scss';

.modal {
  width: 576px;
  max-height: 570px;
  overflow-y: auto;
  background-color: $color_white_1;
  border-radius: 4px;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  @extend %flex-center;
}