@import '../../styles/colors.scss';

.range {
  position: relative;

  &__indicator {
    position: absolute;
    left: 0;
    bottom: 24px;
  }

  input[type=range]  {
    width: 100%;
    margin-top: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    border-radius: 4px;
    height: 8px;
    border: 1px solid $color_basic_1;
  }

  input[type=range]::-webkit-slider-thumb {
    background: $color_basic_1;
    border: 1px solid $color_basic_1;
    border-radius: 50%;
    cursor: pointer;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    margin-top: -5px;
  }

  input[type=range]::-moz-range-track {
    border-radius: 4px;
    height: 8px;
    border: 1px solid $color_basic_1;
  }

  input[type=range]::-moz-range-thumb {
    background: $color_basic_1;
    border: 1px solid $color_basic_1;
    border-radius: 50%;
    cursor: pointer;
  }
}