.list-creator {
  &__add-form {
    .add-form {
      &__label {
        display: block;
        font-weight: 600;
        margin-bottom: 16px;
      }

      &__input-container {
        display: flex;
        
        .input-container {
          &__input {
            flex: 1;
            padding-bottom: 0;

            > input {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
      
          &__button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
  }
}